<h1>Planet detector</h1>
<div>
<!-- <img height="161" width="303"  style="position: absolute" src='assets/space.jpg'/>
<img id="test2" height="161" width="303"  [style.opacity]="distance"   (mousemove)="update({x: $event.layerX, y: $event.layerY})"  src="{{imageUrl}}"/> -->
<img height="161" width="303"  style="position: absolute" src='assets/space.jpg'/>
<canvas height="161" width="303" (click)="drawPlanet()" (mousemove)="update({X: $event.layerX, Y: $event.layerY})" id="test" [style.opacity]="distance"  class="crosshair">
  </canvas>


</div>
