<div class="row">
  <div class="col-6">
    <h1>Deszyfrator fal radiowych</h1>
    <form #form="ngForm" (ngSubmit)="checkNumber(form.value)">
      <input #numbersInput="ngModel" ngModel type="number" name="numbers" />
    </form>
  </div>
  <div class="col-6">
    <h1>Status</h1>

    <div class="resultWraper" *ngFor="let item of resultList; index as i">
      <label>#{{ i }}: {{ item.number }}</label>
      <label    > {{ item.pins[0] }}</label>
      <label> {{ item.pins[1] }}</label>
      <label> {{ item.pins[2] }}</label>
      <label> {{ item.pins[3] }}</label>
    </div>
  </div>
</div>
